.contenido_layout {
  padding: 20px 50px;
  max-width: 1440;
  width: 100%;
  min-width: 300;
  margin: auto;
  background: #f8f8f8;
}


@media (max-width: 820px) {
    .contenido_layout  {
        padding: 20px 15px;
    }
}